.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 {
  /* BoxColor CSS --------------------------------*/
}

.BoxColor {
  margin: 50px;
  padding: 50px;
  border: 3px solid black;
  width: 800px;
  height: 100px;
}

.BoxColor p {
  color: white;
  font-weight: 500;
  font-size: 2em;
}

 {
  /* CreditCard CSS --------------------------------*/
}

.CreditCard {
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
  font-size: 1.5em;
  display: inline-block;
  width: 500px;
  height: 300px;
}

.CreditCard p h2 {
  display: flex;
  align-content: flex-start;
}

 {
  /* DriverCard CSS --------------------------------*/
}

.DriverCard {
  background-color: #455eb5;
  display: flex;
  justify-content: center;
  width: 900px;
  margin: 20px;
  border-radius: 10px;
}

.DriverCard img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: block;
  align-items: center;
  margin: 30px;
}

.DriverCard div {
  text-align: center;
}

.DriverCard p {
  color: white;
  font-weight: 500;
  font-size: 1.5em;
}

 {
  /* Greetings CSS --------------------------------*/
}

.Greetings {
  display: flex;
  justify-content: flex-start;
  color: black;
  border: 3px solid;
  margin: 10px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 1.5em;
  width: 800px;
}

 {
  /* IdCard CSS ------------------------*/
}

.IdCard {
  margin: 30px;
  padding: 2px;
  color: black;
  border: 3px solid black;
  display: flex;
  justify-content: flex-start;
  width: 800px;
  height: 200px;
  font-weight: 500;
}

.Img {
  display: flex;
  align-items: center;
  object-fit: contain;
  margin-right: 20px;
}

.IdCard div {
  text-align: left;
}

 {
  /* LikeButton CSS ---------------------------------*/
}

.LikeButton {
  font-size: 2em;
}

.LikeButton button {
  width: 200px;
  height: 80px;
  font-weight: 500;
  font-size: 1em;
}
.purple {
  background-color: purple;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
  color: black;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

 {
  /* Random CSS --------------------------------*/
}

.Random {
  display: flex;
  justify-content: flex-start;
  color: black;
  border: 3px solid;
  margin: 30px 0px 10px 10px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 1.5em;
  width: 800px;
}
