.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.BoxColor {
  margin: 50px;
  padding: 50px;
  border: 3px solid black;
  width: 800px;
  height: 100px;
}

.BoxColor p {
  color: white;
  font-weight: 500;
  font-size: 2em;
}

.CreditCard {
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
  font-size: 1.5em;
  display: inline-block;
  width: 500px;
  height: 300px;
}

.CreditCard p h2 {
  display: flex;
  align-content: flex-start;
}

.DriverCard {
  background-color: #455eb5;
  display: flex;
  justify-content: center;
  width: 900px;
  margin: 20px;
  border-radius: 10px;
}

.DriverCard img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: block;
  align-items: center;
  margin: 30px;
}

.DriverCard div {
  text-align: center;
}

.DriverCard p {
  color: white;
  font-weight: 500;
  font-size: 1.5em;
}

.Greetings {
  display: flex;
  justify-content: flex-start;
  color: black;
  border: 3px solid;
  margin: 10px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 1.5em;
  width: 800px;
}

.IdCard {
  margin-bottom: 20px;
  color: black;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 600px;
  font-weight: 500;
}

.Img {
  display: block;
}
